  * {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  } 




  header {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center; 
    background-image: linear-gradient(135deg,#00B7D4,#505488,#2F3F80,#161569,#5A4894,#A950A1,#FF7CAE);
    background-size: 500%;
    animation: fanimado 20s infinite;
    padding: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    z-index: 1; 
  }

  header h1 {
    font-size: 1.7em; 
    color: #fffefec7; 
    margin: 0; 
  }



  header p {
    font-size: 2.8em; 
    color: #000000d0; 
    margin-top: 5px; 
  }

  header p.descripcion {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100 "wdth";
    font-size: 1.4em;
  }
  
  /* Media queries  */
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.2em; 
    }

    header p {
      font-size: 2em; 
    }

    header p.descripcion {
      font-size: 1.2em; 
    }
  }

  @media (max-width: 480px) {
    header h1 {
      font-size: 1em; 
    }

    header p {
      font-size: 1.5em;
    }

    header p.descripcion {
      font-size: 1em; 
    }
  }

  @keyframes fanimado{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  } 

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
  }

      nav {
        position: fixed; /* Fija el nav en la parte superior */
        top: 0; /* Coloca el nav en la parte superior */
        left: 0; /* Alinea el nav a la izquierda */
        width: 100%; /* Ancho completo */
        background: #333; /* Color de fondo opcional */
        color: #fff; /* Color del texto opcional */
        z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
        padding: 10px 0; /* Espacio interno opcional */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra  */
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
        box-sizing: border-box;
      }

      nav ul {
        list-style: none; /* Elimina los puntos de la lista */
        margin: 0; 
        padding: 0; 
        display: flex; /* elementos en fila */

      }

      nav ul li {
        margin: 0 15px; /* Espacio entre los elementos de la lista */
      }

      nav ul li a {
        text-decoration: none; /* Elimina el subrayado */
        color: #fff; /* Color del texto */
        font-size: 1.1em; /* Tamaño de fuente opcional */
      }

      nav ul li a:hover {
        color: #f0f0f0d7; /* Color del texto al pasar el mouse */
      }

      .nav-footer-iconos {
        position: absolute;
        right: 20px; /* Ajusta la posición de las imágenes a la derecha */
        display: flex;
        align-items: center;
      }


      .nav-footer-iconos a {
        margin-left: 15px;
      }

      .nav-footer-iconos img {
        width: 35px;
        height: auto;
        border-radius: 50%;
      }

      .nav-footer-iconos img:hover {
        filter: brightness(0.8); /* Cambia el brillo para crear el efecto de color */
      }

      /* Responsividad */
      @media (max-width: 768px) {

        nav {
          justify-content: flex-start; /* Alinea los elementos al principio */
          padding: 10px; /* Ajusta el padding si es necesario */
        }
        
        nav ul {
          width: 100%; /* Asegura que la lista ocupe todo el ancho */
          justify-content: flex-start; /* Alinea los elementos al principio */
        }

        nav ul li{
          margin: 0 1px;
        }

        nav ul li a {
          font-size: 0.8em; /* Tamaño de fuente más pequeño en pantallas más pequeñas */
          padding: 4px 8px; /* Ajusta el espacio interno */
        }

        .nav-footer-iconos img {
          width: 25px; /* Tamaño más pequeño para pantallas más pequeñas */
          margin-top: 10px; /* Desplaza las imágenes hacia abajo */
        }
      }

      @media (max-width: 480px) {

        nav {
          justify-content: flex-start; /* Alinea los elementos al principio */
          width: 100%;
        } 
        
        nav ul li a {
          font-size: 0.7em; /* Tamaño de fuente aún más pequeño */
        
        }

        .nav-footer-iconos img {
          width: 24px; /* Tamaño aún más pequeño para pantallas muy pequeñas */
          margin-top: 10px; /* Desplaza las imágenes hacia abajo */
        }
      }

  section {
    padding: 2rem;
  }

  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }




  /* Estilos generales para el contenedor del about */
  #about {
    padding: 50px;
  }

  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-image {
    max-width: 200px;
    margin-right: 150px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .about-text {
    max-width: 800px;
  }

  .about-text h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .about-image {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 150px;
    }

    .about-text {
      max-width: 100%;
      text-align: center;
    }
  }

  h3{
  padding-left: 200px; 
  }

  /* Estilos para la lista de habilidades */
  .skills-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    background-image: linear-gradient(135deg,#505488,#2F3F80,#161569,#5A4894,#A950A1);
    padding: 0;
    display: flex; /* flexbox para alinear las imágenes en fila */
    justify-content: center; /* Centra los elementos en el contenedor */
    flex-wrap: wrap; /* los elementos se ajusten en múltiples líneas si es necesario */
  }

  /* Estilos para los ítems de la lista */
  .skills-list li {
    margin: 10px; /* Espacio alrededor de cada logo */
  }

  /* Estilos específicos para las imágenes */
  .skills-list img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantén la proporción de las imágenes */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el movimiento y sombra */
  }

  /* Animación de flotar */
  .skills-list img:hover {
    transform: translateY(-10px); /* Mueve las imágenes hacia arriba al pasar el ratón por encima */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar efecto de elevación */
    color: #ffffff;
  }



  /* Responsividad */
  @media (max-width: 768px) {
    
    .habilidades-titulo {
      padding-left: 20px; /* Ajusta el padding-left para pantallas medianas */
    }

    .skills-list {
      display: flex;  
      flex-wrap: wrap; /* Ajusta las imágenes en varias filas si es necesario */
      padding: 0; /* Elimina el padding si es necesario */
      margin: 0; /* Elimina el margen si es necesario */
    }

    .skills-list li {
      margin: 10px; /* Ajusta el espacio entre las imágenes */
    }

    .skills-list img {
      width: 50px; /* Ajusta el tamaño de las imágenes si es necesario */
      height: auto;
    }
  }

  @media (max-width: 480px) {
    .habilidades-titulo {
      padding-left: 10px; /* Ajusta el padding-left para pantallas pequeñas */
      text-align: left; /* Alinea el texto a la izquierda */
    }
  
    .skills-list {
      flex-wrap: wrap; /* Ajusta las imágenes en varias filas si es necesario */
    }
  
    .skills-list li {
      margin: 10px; /* Ajusta el espacio entre las imágenes */
    }
  
    .skills-list img {
      width: 60px; /* Ajusta el tamaño de las imágenes */
      height: auto;
    }
  }

  /* Seccion proyectos*/

  #projectos {
    padding: 50px;
    text-align: center;
  }

  .projectos-container {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* Espacio entre los proyectos */
  }

  .projecto {
    flex: 1 1 300px; /* Ajusta el tamaño mínimo según sea necesario */
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para el efecto hover */
  }

  .projecto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
  }

  .projecto p {
    margin-top: 10px;
  }

  /* Efecto hover */
.projecto:hover {
  transform: translateY(-10px); /* Mueve el proyecto ligeramente hacia arriba */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar efecto de elevación */  
  } 

  @media (max-width: 768px) {
    .projecto {
      flex: 1 1 70%; /* Dos columnas en pantallas más pequeñas */
      max-width: 70%;
    }
  }

  @media (max-width: 480px) {
    .projecto {
      flex: 1 1 100%; /* Una columna en pantallas muy pequeñas */
      max-width: 100%;
    }
  }


  /* Sección de Certificados */
#certificados {
  padding: 2rem;
}

.certificados-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 30px;
}

.certificado {
  flex: 1 1 250px; /* Crece, se encoge y tiene un tamaño base de 200px */
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px; /* Asegura que las imágenes no sean más anchas que 200px */
}

.certificado img {
  width: 100%;
  height: auto;
  display: block;
}

/* Responsividad */
@media (max-width: 768px) {
  .certificado {
    flex: 1 1 200px; /* Tamaño base para pantallas medianas */
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .certificado {
    flex: 1 1 170px; /* Tamaño base para pantallas pequeñas */
    max-width: 170px;
  }
}



  /* Estilos para el formulario de contacto */
  /* #contactForm {
    max-width: 600px;
    margin: 2rem auto 4rem; 
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
  }

  #contactForm label {
    display: block;
    margin-bottom: 0.5rem;
  }

  #contactForm input,
  #contactForm textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #contactForm textarea {
    resize: vertical;
  }

  #contactForm button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #contactForm button:hover {
    background-color: #555;
  } */



  footer {
    background-image: linear-gradient(135deg,#505488,#2F3F80,#161569,#5A4894,#A950A1);
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* Ajusta según sea necesario */
     width: 400px; /* Ajusta según sea necesario */
    margin: 10px; /* Añade espacio entre columnas */
}

.icon-text {
    display: flex;
    align-items: center;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto */
}

.footer-item i, .footer-item .side-icon {
    font-size: 40px; /* Ajusta el tamaño del icono */
    color: #fff;
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.side-text {
  font-size: 1.4em; /* Ajusta el tamaño de la fuente según sea necesario */
}

.side-subtext {
  font-size: 1em; /* También puedes ajustar el tamaño de esta si es necesario */
}

.footer-content {
    text-align: center;
    width: 400px;
    flex: 1;
}

.contact-heading {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mail-icon {
    width: 24px;
    height: auto;
    background: none;
}

.email {
    font-size: 1.1em;
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-item, .footer-content {
      flex: 1 1 100%; /* Permite que las columnas ocupen el 100% del ancho disponible */
      min-width: 0; /* Permite que las columnas se reduzcan en pantallas pequeñas */
  }

  .footer-container {
      flex-direction: row; /* Mantiene las columnas en una fila */
      flex-wrap: nowrap; /* Evita que las columnas se apilen verticalmente */
  }

  .footer-item i, .footer-item img.side-icon {
      font-size: 27px; /* Reduce el tamaño del icono para pantallas pequeñas */
      width: 30px; /* Reduce el tamaño de la imagen */
  }
}

@media (max-width: 480px) {
  .footer-item, .footer-content {
      flex: 1 1 100%; /* Permite que las columnas ocupen el 100% del ancho disponible */
      min-width: 0; /* Permite que las columnas se reduzcan en pantallas muy pequeñas */
      margin: 5px; /* Ajusta el margen para pantallas más pequeñas */
  }

  .footer-container {
      flex-direction: row; /* Mantiene las columnas en una fila */
      flex-wrap: nowrap; /* Evita que las columnas se apilen verticalmente */
  }
  
  .icon-text {
      flex-direction: column; /* Ajusta la dirección del texto y el ícono para que se adapten mejor en pantallas muy pequeñas */
      align-items: center;
  }

  .side-text-container {
      margin-left: 0; /* Elimina el margen a la izquierda para centrar el texto debajo del ícono */
  }

  .side-text {
      font-size: 1.1em; /* Ajusta el tamaño de la fuente según sea necesario */
  }

  .footer-item i, .footer-item img.side-icon {
      font-size: 30px; /* Reduce el tamaño del icono para pantallas pequeñas */
      width: 30px; /* Reduce el tamaño de la imagen */
  }

  .side-subtext {
      font-size: 0.9em; /* Reduce el tamaño de la fuente para pantallas pequeñas */
  }

  .contact-heading {
      font-size: 1em; /* Reduce el tamaño de la fuente del encabezado para pantallas pequeñas */
  }

  .email {
      font-size: 0.7em; /* Reduce el tamaño de la fuente del correo para pantallas pequeñas */
  }

  .mail-icon {
      width: 20px; /* Reduce el tamaño del icono de correo para pantallas pequeñas */
  }
}

